@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong></strong>

    <span class="text-nowrap">
        Disconnect from Internet and reload this page
        <a target="_blank" class="font-weight-bold link-dark" href="https://arvinboggs.github.io/BlazorGitHubPagesDemo">https://arvinboggs.github.io/BlazorGitHubPagesDemo</a>
    </span>
    
</div>

<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong></strong>

    <span class="text-nowrap">
        Read the tutorial and download the source code from 
        <a target="_blank" class="font-weight-bold link-dark" href="https://github.com/arvinboggs/BlazorGitHubPages">https://github.com/arvinboggs/BlazorGitHubPages</a>
    </span>
    
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
